<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

    <springProperty name="log_file_name" source="logging.file.name"/>
    <springProperty name="app_name" source="spring.application.name"/>

    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log_file_name}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log_file_name}.%d{yyyy-MM-dd}</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>

        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <shortenedLoggerNameLength>16</shortenedLoggerNameLength>
            <customFields>
                {
                    "app": "${app_name}"
                }
            </customFields>
        </encoder>

    </appender>

    <root level="INFO" additivity="false">
        <appender-ref ref="file"/>
    </root>

    <logger name="nl.rcomanne.telegrambotklootviool" level="DEBUG" additivity="false">
        <appender-ref ref="file"/>
    </logger>
</configuration>
